<title>
	{% if title %}
		{{ title }} | {{ site.title }}
	{% else %}
		{{ site.title }}
	{% endif %}
</title>
<meta charset="{{ charset | default: "utf-8" }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="color-scheme" content="light dark">
<link rel="stylesheet" href="/pico.min.css">
<base target="_blank">
