<!DOCTYPE HTML5>
<html>
<head>
	{%- render "head", page: page, site: site -%}
</head>
<body>
	<main class="container">
		{%- render "header", page: page, site: site -%}
		{{- body -}}
		{%- render "footer", page: page, site: site -%}
	</main>
</body>
</html>
