<!DOCTYPE HTML5>
<html>
<head>
	{%- render "head", title: title, site: site -%}
</head>
<body>
	<main class="container">
		{%- render "header", title: title, site: site -%}
		{{- body -}}
		{%- render "footer", title: title, site: site -%}
	</main>
</body>
</html>
